<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<title>下载模板</title>
	    
<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/pc-reset.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/master.css" />
<script src="__PUBLIC__/index/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/index/js/fd-common.js" type="text/javascript"></script>
 
</head>

<body>
<div class="fd-header w100p border-b-1">
	<div class="fd-hd-top w">
		<span class="fd-top-user">{$username}，您好</span>
		<a href="__APP__/Home/Index/Login/logout" class="fd-top-cancel">注销</a>
	</div>
	<div class="fd-hd-tit w">
		<h1><img src="__PUBLIC__/index/images/i-footer-logo.png"></h1>
	</div>
</div><!--fd-header end-->

<div class="file-main w100p">
	<div class="down-con w cl">
		<div class="file-tab-hd">
			<a href="__APP__/Home/Index/Index/index" class="active">下载模板</a>
			<a href="__APP__/Home/Index/Index/flist?item=1">我的文件</a>
		</div>
		
		<div class="down-container">
			<div class="down-left fl">
				<div class="down-l-part1">
					<h2 class="down-left-tit">模板文件</h2>
				
					<div class="down-l-nav">
						<div class="down-l-navall"><i class="fd-arrow fd-arrow-down"></i>全部</div>
						<div class="tree">
						<volist name="row" id="val">  
						    <div class="tree_box">
						    	<if condition="$val.level eq 0">
						        <h3><i class="fd-arrow"></i>{$val.name}</h3>
						        <ul class="tree_one">
						        	<volist name="row" id="v">
						        	<if condition="$val.id eq $v['pid']">
						            <li>
						                <!-- <h4><a href="__APP__/Home/Index/Index/index?type={$v.id}">{$v.name}</a></h4> -->
						                <if condition="$v.level eq 1">
							                 	<h4><i class="fd-arrow"></i>{$v.name}</h4>
								                <ul class="tree_two">
								                	<volist name="row" id="v2">
								                	<if condition="$v.id eq $v2['pid']">
								                    <li>
								                    	<a href="__APP__/Home/Index/Index/flist?type={$v2.id}&flag=1" target="right">{$v2.name}</a> 
								                    </li>
								                    </if>
								                    </volist>
							                   </ul>
						                </if>
						            </li>
						            </if>
					            	</volist>
						        </ul>
					            </if>
						    </div>
						   </volist> 
						</div>
						
					</div><!--down-l-nav end-->
				
				</div><!--down-l-part1 end-->
				<if condition="$user.state eq 1">
				<div class="down-l-part1">
					<h2 class="down-left-tit">红头文件</h2>
				
					<div class="down-l-nav">
						<div class="down-l-navall"><i class="fd-arrow fd-arrow-down"></i>全部</div>
						<div class="tree">
						<volist name="row" id="val">  
						    <div class="tree_box">
						    	<if condition="$val.level eq 0">
						        <h3><i class="fd-arrow"></i>{$val.name}</h3>
						        <ul class="tree_one">
						        	<volist name="row" id="v">
						        	<if condition="$val.id eq $v['pid']">
						            <li>
						                <!-- <h4><a href="__APP__/Home/Index/Index/index?type={$v.id}">{$v.name}</a></h4> -->
						                <if condition="$v.level eq 1">
							                 	<h4><i class="fd-arrow"></i>{$v.name}</h4>
								                <ul class="tree_two">
								                	<volist name="row" id="v2">
								                	<if condition="$v.id eq $v2['pid']">
								                    <li>
								                    	<a href="__APP__/Home/Index/Index/flist?type={$v2.id}&flag=2" target="right">{$v2.name}</a> 
								                    </li>
								                    </if>
								                    </volist>
							                   </ul>
						                </if>
						            </li>
						            </if>
					            	</volist>
						        </ul>
					            </if>
						    </div>
						   </volist> 
						</div>
						
					</div><!--down-l-nav end-->
				
				</div><!--down-l-part1 end-->
				</if>
				
			</div><!--down-left end-->
			
			<div class="down-right fl" style="height:905px;">
			<iframe scrolling="no" style="border:0px;" rameborder="0" src="__APP__/Home/Index/Index/flist" name="right" width="100%" height="100%"></iframe>
			</div>
			
			<!-- <div class="down-right fl">
				<ul class="down-list">
					
					
					
					<volist name="list" id="cat" key="k">
					<li>
						<div class="down-pic">
							<a href="#">
								<img src="__UPLOAD__/{$cat.picurl}">
							</a>
						</div>
						<p>{$cat.title}</p>
						<div class="dowb-btn"><a href="__UPLOAD__/{$cat.picurl}" target="_blank">下载</a></div>
					</li>
					</volist>
					
				</ul>
				
			</div> --><!--down-right end-->
			
			
			
		</div><!--down-container end-->
	</div><!--file-con end-->
	
</div><!--login-main end-->


</body>
</html>
