<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/pc-reset.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/master.css" />
<style>
body{background: #e2f4ff;}
.down-list{
	    width: 1001px;
    overflow: hidden;
}
</style>
<!-- <div class="down-right fl"> -->
				<ul class="down-list">
					<volist name="list" id="cat" key="k">
					<li>
						<div class="down-pic">
							<a href="#">
								<img src="__UPLOAD__/{$cat.picurl}">
							</a>
						</div>
						<p>{$cat.title}</p>
						<div class="dowb-btn"><a href="__UPLOAD__/{$cat.picurl}" target="_blank">下载</a></div>
					</li>
					</volist>
				</ul>
<!-- 	</div> -->
