<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/pc-reset.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/master.css" />
<style>
body{background: #e2f4ff;}
.down-list{
	    width: 1001px;
    overflow: hidden;
}
</style>
<!-- <div class="down-right fl"> -->
				<ul class="down-list">
					<volist name="list" id="cat" key="k">
					<li>
						<div class="down-pic">
							<a href="#">
								<img src="__UPLOAD__/{$cat.picurl}">
							</a>
						</div>
						<p>{$cat.title}</p>
					
						
						<div class="dowb-btn">
						
							<empty name="cat.fileurl">
						<a href="javascript:alert('没有文件！');" target="_blank" >下载</a>
						<else /> 
						<if condition="cat.type eq 1" >
						<a href="__UPLOAD__/{$cat.fileurl}" target="_blank" >下载</a>
						<else/>
						<a href="__APP__/Home/Index/Index/force_download?url={$cat.fileurl}" target="_blank" >下载</a>
						</if>
						
						</empty> 
						
						</div>
<!-- 						<div class="dowb-btn"><a href="__UPLOAD__/{$cat.picurl}" target="_blank">下载</a></div> -->
					</li>
					</volist>
				</ul>
<!-- 	</div> -->
