<!DOCTYPE html>
<html lang="zh-cn">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <meta name="renderer" content="webkit">
	    <title>{$flag==1?"普通文件列表":"红头文件列表"}</title>  
	    <link rel="stylesheet" href="__CSS__/pintuer.css">
	    <link rel="stylesheet" href="__CSS__/admin.css">
	     <link rel="stylesheet" href="__CSS__/page.css">
	    <script src="__JS__/js/jquery.js"></script>
	    <script src="__JS__/js/pintuer.js"></script>  
	    <script type="text/javascript" src="__JS__/js/layer/layer.js" ></script>
	    <script type="text/javascript" src="__JS__/jedate/jedate.js" ></script>
	</head>
	<body>
		<form method="post" action="" class="ttb">
		  	<div class="panel admin-panel">
			    <div class="panel-head"><strong class="icon-reorder">{$flag==1?"普通文件列表":"红头文件列表"}</strong></div>
			    <div class="padding border-bottom">
			    	<p>
				     			  			
			  			<button type="button"  class="button border-green" id="checkall"><span class="icon-check"></span> 全选</button>
				        <a class="button border-red" href="javascript:void(0)" onclick="deleteall()"><span class="icon-trash-o"></span> 批量删除</a>
				        <a class="button border-main" href="__APP__/Home/Admin/Admin/addfile?flag={$flag}"><span class="icon-plus"></span> 新增</a>
			  			<form  id="formid" action="__APP__/Home/Admin/Admin/filelist" method="post">
			  			<input type="text" name="title" value="{$title}" class="input input-auto margin-big-left" placeholder="输入文件名称" />
			  			<!-- <a class="button border-main" href="javascript:search();"><span class="icon-search"></span> 搜索</a> -->
			  			<button class="button border-main" type="submit">搜索</button>
			  			</form>
			  			
			  		</p>
			    </div>
			    <div class="table-responsive">
				    <table class="table table-hover text-center">
				      	<tr>
				      		<th></th>
<!-- 				      		<th><input type="checkbox" name="ckall" value=""  /></th> -->
					        <th>标题</th>
					        <th>添加时间</th>       
					        <th>操作</th>       
				      	</tr> 
				      	 <volist name="list" id="vo" key="k" >          
				        <tr>
				        	<td><input type="checkbox" name="ckall" value="{$vo.id}" /></td>
				        	<td>{$vo.title}</td>
				        	<td>{$vo.addtime|date="Y-m-d H:i:s",###}</td>
				          	<td>
				          		
			          				<div class="form-group" style="display: inline-block;">
										<div class="field text-blue border-main" >
											<div class="button-group radio">
												<label 
												<if condition="$vo.isuse eq 1">class="button active"
												<else/>
												class="button"
												</if>
												
												>
													<input name="isuse" value="1" <if condition="$vo.isuse eq 1">checked="checked"</if>  type="radio"> <a href="__APP__/Home/Admin/Admin/qy?id={$vo.id}&isuse=1&item=2&flag={$flag}"><span class="icon icon-check text-white"></span>启用</a>
												</label>
												<label 
												<if condition="$vo.isuse eq 0">class="button active"
												<else/>
												class="button"
												</if>
												
												>
													<input name="isuse" value="0"  <if condition="$vo.isuse eq 0">checked="checked"</if> type="radio"> <a href="__APP__/Home/Admin/Admin/qy?id={$vo.id}&isuse=0&item=2&flag={$flag}"><span class="icon icon-times"></span>关闭</a>
												</label>
											</div>
										</div>
									</div>
			          			
				          		<div class="button-group"> 
				          			<a class="button border-main" href="__APP__/Home/Admin/Admin/addfile?id={$vo.id}&flag={$flag}"><span class="icon-edit"></span> 编辑</a> 
				          			<a class="button border-red" href="javascript:void(0)" onclick="deleteall('{$vo.id}')"><span class="icon-trash-o"></span> 删除</a> 
				          		</div>
				          	</td>
				        </tr>
				        </volist>
				        
				      	<tr>
				        	<td colspan="10">
				        	<div class="pages">
				                        {$page}
			                </div>
			                </td>
				      	</tr>
				    </table>
			    </div>
		  	</div>
		<input type='hidden' value="__APP__/Home/Admin/Admin/delete?item=2" id="deleteurl">
		</form>
	 <script src="__JS__/js/appled.js"></script>
</body>
</html>